*{
box-sizing: border-box;
} 

      
.sidebar-section{
background-image: url('https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-10.jpg');
width:33.333333%;
max-height: 100vh; 
background-size: cover;
background-position: center  center;
height: 100vh;
border:rgb(248, 215, 217) 300px;
border-style: solid ;
border-left: none;
border-right: none;
border-bottom: none;
padding: 50px 0 0 0;
background-repeat: no-repeat;}

.sign-in-form{
    background-color: #fff;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    margin:auto;
    margin-bottom: 80px;
    margin-left: 250px;
    width: 40%;
}
